* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/*SIDE NAVBAR*/

.main_marvel_logo {
    z-index: 100;

    display: none;

    position: absolute;
    top: 20px;
    left: 20px;

    height: 50px;
    width: 100px;
}

.main_marvel_logo img {
    height: 100%;
    width: 100%;
}

.navbar-menu-toggle {
    z-index: 100;

    display: none;

    position: absolute;
    top: 30px;
    right: 30px;

    color: #ffffff;
}

.navbar-menu-toggle:hover {
    cursor: pointer;
    color: #c20f0f;
}

.side-navbar {
    z-index: 101;

    display: none;

    position: fixed;
    top: 0px;
    right: -72%;

    padding: 20px;

    width: 50%;
    height: calc(var(--vh, 1vh) * 100);

    transition: 1s;

    background-color: #888888e5;
    color: white;
}

.side-navbar .xicon {
    display: inline;

    position: relative;
    left: 82%;

    font-size: 20px;
}

.xicon:hover {
    color: black;
    cursor: pointer;
}

.side-navbar-links {
    margin-top: 30px;
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-link a {
    text-decoration: none;
    font-size: 18px;

    color: white;
}

.side-navbar-links a:hover {
    cursor: pointer;
    color: #000000;
}

.side-navbar-link .active {
    border-radius: 5px;

    padding: 5px;

    background-color: #c20f0fcb;
}

.side-nav-follow-icons-container {
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    margin-top: 280px;
}

.side-nav-follow-icons-container h2 {
    font-size: 16px;
    font-weight: 400px;

    margin-top: 5px;

    color: #ffffff;
}

.side-nav-follow-icons {
    cursor: pointer;

    font-size: 20px;
    text-align: center;

    padding-top: 10px;
}

.side-nav-follow-icons i {
    padding-right: 15px;

    color: #c20f0fcb;
}

/*HEADER SECTION*/

a {
    text-decoration: none;
}

header {
    z-index: 100;

    display: flex;
    align-items: center;
    gap: 16%;

    position: relative;
    top: 15px;

    width: 1240px;
    max-width: 90%;
    height: 70px;

    margin: auto;
}

.nav_main_logo {
    height: 70px;
    width: 130px;
}

.nav_main_logo img {
    height: 100%;
    width: 100%;
}

header nav a {
    margin-right: 5px;
    padding: 5px 10px;

    transition: 0.2s;

    font-size: 15px;
    font-weight: 500;

    color: #eee;
}

header nav a.active,
header nav a:hover {
    border-radius: 5px;

    background-color: #c20f0fcb;
}

/*SEARCH SECTION*/

.wrapper {
    z-index: 100;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 30px;
    right: 100px;

    width: 250px;
    height: 40px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: 100%;
    width: 100%;
}

.search .search_icon {
    color: #c20f0fcb;
}

.search_bar {
    border-radius: 8px;

    height: 100%;
    width: 100%;

    border: 1px solid rgb(224, 224, 224);

    font-size: 15px;

    padding: 10px;

    outline: none;

    backdrop-filter: blur(10px);
    box-sizing: border-box;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.search_bar::placeholder {
    color: #eee;
}

.movie_wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    position: absolute;
    top: 50px;
    right: -70px;

    max-height: 265px;
    width: 400px;

    overflow-y: scroll;

    padding: 10px 0px;

    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
}

.movie_wrapper::-webkit-scrollbar {
    display: none;
}

.movie_child {
    display: flex;
    align-items: center;
    gap: 20px;

    height: 90px;
    width: 90%;

    border-radius: 5px;

    margin: 5px 0;

    box-shadow: 1px 1px 1px rgb(210, 210, 210);
    color: black;
    background-color: rgb(230, 230, 230);
}

.movie_child:hover {
    cursor: pointer;

    box-shadow: 1px 1px 1px rgb(171, 7, 7);
    color: rgb(245, 245, 245);
    background-color: #c20f0fcb;
}

.image {
    display: flex;
    align-items: center;

    height: 70px;
    width: 45px;

    margin-left: 10px;
}

.movie_child .image img {
    height: 90%;
    width: 100%;
}

.movie_child .content h2 {
    font-size: 15px;
}

.movie_child .content ul,
li {
    display: inline-block;

    list-style-type: none;
    font-size: 13px;
}

.movie_child .content p {
    font-size: 12px;
}

.star_icon::before {
    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;

    color: rgb(255, 187, 0);
}

#no_match {
    text-align: center;
    font-size: 1em;

    height: 40px;
    width: 90%;

    margin: 5px 0;
    padding-top: 10px;

    border-radius: 5px;

    box-shadow: 1px 1px 1px rgb(210, 210, 210);
    color: black;
    background-color: rgb(230, 230, 230);
}

/*SLIDER SECTION*/

.slider {
    height: calc(var(--vh, 1vh) * 100);

    overflow: hidden;

    position: relative;

    margin-top: -70px;
}

.slider .list .item {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0 0 0 0;
}

.slider .list .item img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: blur(3px);
    filter: brightness(40%);
}

.slider .list .item .content {
    position: absolute;
    top: 20%;
    left: 50%;

    width: 1140px;
    max-width: 80%;

    transform: translateX(-50%);

    padding-right: 30%;

    box-sizing: border-box;
}

.slider .list .item .content .title {
    height: 200px !important;
    width: 400px !important;
}

.slider .list .item .content .title img {
    height: 100%;
    width: 100%;

    object-fit: contain !important;

    filter: blur(0) !important;
    filter: brightness(100%) !important;
}

.slider .list .item .content .type {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.0em;

    color: #c20f0fcb;
}

.slider .list .item .content .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    color: white;
}

.slider .list .item .content .button {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;

    margin-top: 20px;
}

.slider .list .item .content .button button {
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;

    border-radius: 5px;

    letter-spacing: 2px;
    font-weight: 500;
    font-size: 13px;

    color: black;
    background-color: #eee;
}

.slider .list .item .content .button button:hover {
    cursor: pointer;

    transition: 0.4s;

    background-color: #c20f0fcb;
    color: #eee;
}

.slider .list .item .content .button button:nth-child(2) {
    border: 1px solid #fff;

    color: #eee;
    background-color: transparent;
}

/*THUMBNAIL SECTION*/

.thumbnail {
    z-index: 100;

    display: flex;
    gap: 20px;

    position: absolute;
    bottom: 20px;
    left: 48.5%;

    width: max-content;
}


.thumbnail .item {
    flex-shrink: 0;

    position: relative;

    width: 150px;
    height: 220px;
}

.thumbnail .item:hover {
    transform: translateY(-30px);
    cursor: pointer;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 20px;

    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/*NEXT PREV ARROW SECTION*/

.nextPrevArrows {
    z-index: 100;

    display: flex;
    gap: 30px;
    align-items: center;

    position: absolute;
    top: 85%;
    right: 55%;

    width: 300px;
    max-width: 30%;
}

.nextPrevArrows button {
    border-radius: 10px;

    width: 40px;
    height: 40px;

    border: none;

    font-family: monospace;
    font-weight: bold;

    transition: .5s;

    cursor: pointer;
    user-select: none;

    color: #fff;
    background-color: #c20f0fcb;
}

.nextPrevArrows button:hover {
    color: #000;
    background-color: #fff;
}

/*ANIMATION PART*/

.slider .list .item:nth-child(1) {
    z-index: 1;
}

/*ANIMATION OF TEXT IN FIRST SCREEN ELEMENT*/

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.3s !important;
}

.slider .list .item:nth-child(1) .content .description {
    animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content button {
    animation-delay: 0.6s !important;
}

/*ANIMATION FOR NEXT BUTTON FUNCTION*/

.slider.next .list .item:nth-child(1) img {
    position: absolute;
    bottom: 50px;
    left: 50%;

    border-radius: 30px;

    width: 150px;
    height: 220px;

    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;

        border-radius: 0;

        width: 100%;
        height: 100%;
    }
}

.slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;

    animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img {
    z-index: 100;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.slider.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

/*ANIMATION FOR PREV BUTTON FUNCTION*/
.slider.prev .list .item:nth-child(2) {
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;

    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        bottom: 50px;
        left: 50%;

        width: 150px;
        height: 220px;

        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;

    opacity: 0;

    animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
    pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content button {
    animation: contentOut .3s linear 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/*MEDIA QUERY*/
@media screen and (min-device-width: 679px) and (max-device-width: 1200px) {

    /*SLIDER SECTION MEDIA*/

    .slider .list .item .content {
        padding-right: 10%;
    }

    .slider .list .item .content .title {
        height: 150px !important;
        width: 270px !important;
    }

    .slider .list .item .content .description {
        font-size: 13px;
    }

    .slider .list .item .content .button {
        grid-template-columns: repeat(2, 90px);
        grid-template-rows: 30px;

        margin-top: 15px;
    }

    .slider .list .item .content .button button {
        font-size: 10px;

        padding: 2px 5px;
    }

}

@media screen and (max-width: 1024px) {

    .wrapper {
        right: 100px;

        width: 200px;
    }

    .movie_wrapper {
        max-height: 265px;
        width: 300px;
    }

    .movie_child {
        padding: 5px;
    }

    .movie_child .content h2 {
        font-size: 12px;
    }

    .movie_child .content p {
        font-size: 8px;
    }

}

@media screen and (max-width: 960px) {

    .wrapper {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    .main_marvel_logo {
        display: block;
    }

    .navbar-menu-toggle {
        display: block;
    }

    .side-navbar {
        display: block;
    }

    header {
        display: none;
    }

    .slider {
        margin-top: 0px;
    }

    .thumbnail {
        width: 60%;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .thumbnail::-webkit-scrollbar {
        display: none;
    }

    .wrapper {
        display: none;
    }

    .nextPrevArrows {
        display: none;
    }

}

@media screen and (max-width: 678px) {

    /*SIDE NAV*/

    .side-navbar .xicon {
        top: 7px;
        left: 85%;
    }

    /*SLIDER SECTION MEDIA*/

    .slider .list .item .content {
        transform: translateX(-55%);

        padding-right: 0;
    }

    .slider .list .item .content .title {
        height: 150px !important;
        width: 250px !important;
    }

    .slider .list .item .content .description {
        font-size: 12px;
    }

    .slider .list .item .content .button {
        grid-template-columns: repeat(2, 90px);
        grid-template-rows: 30px;

        margin-top: 10px;
    }

    .slider .list .item .content .button button {
        font-weight: 400;
        font-size: 11px;
    }

    /*THUMBNAIL SECTION MEDIA*/

    .thumbnail {
        left: 40%;
        gap: 10px;
    }

    .thumbnail .item {
        width: 100px;
        height: 160px;
    }

    .thumbnail .item img {
        border-radius: 10px;
    }

}